* {
    margin: 0;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: rgb(18, 19, 17);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-menu {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-size: 25px;
    align-items: center;
}

@media only screen and (max-width:600px) {
    .navbar-menu a {
        color: white;
        text-decoration: none;
        margin-left: 20px;
        font-size: 40px;
        align-items: center;
    }
}